go_import_path: github.com/secure-io/sio

language: go

branches:
    only:
        - master

matrix:
    include:
        - os: linux
            env:
                - ARCH=x86_64
                - CGO_ENABLED=0
                - GO111MODULE=on
            go:
                - "1.11.x"  
                - "1.12.x"
            script:
                - diff -au <(gofmt -d .) <(printf "")
                - diff -au <(go vet .) <(printf "")
                - go test ./...
                - go test -sio.BufSize=23 -sio.PlaintextSize=1825 ./...
        - os: osx
            env:
                - ARCH=x86_64
                - CGO_ENABLED=0
                - GO111MODULE=on
            go:
                - "1.11.x"  
                - "1.12.x"
            script:
                - diff -au <(gofmt -d .) <(printf "")
                - diff -au <(go vet .) <(printf "")
                - go test ./...
                - go test -sio.BufSize=23 -sio.PlaintextSize=1825 ./...
        - os: windows
            env:
                - ARCH=x86_64
                - CGO_ENABLED=0
                - GO111MODULE=on
            go:
                - "1.11.x"  
                - "1.12.x"
            script:
                - diff -au <(go vet .) <(printf "")
                - go test ./...
                - go test -sio.BufSize=23 -sio.PlaintextSize=1825 ./...
